page-note {
	.content {
		background-color: #f3f3f3;	
	}
	.note {
		text-align: center;
		padding: 1%;
		min-height: 98%;
		// background-color: #e3e3e3;
		background-color: #eee;
		margin-bottom: 10px;
		h2 {
			padding-top: 20px;
		}
		.label {
			position: relative;

			div {
				height: 2px;
			}
		}
	}
	.note-content {
		padding: 10% 0 10% 0;
	}
}
